name: My First GitHub Action

on:
  push:
    branches:
      - main

jobs:
  hello_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print a message
        run: echo "Hello from GitHub Actions!"
